body{
    background-color: #31333b;
    color: #ffc86b;
}

img{
    height: 20rem;
    width: 50rem;
    margin-left: 23rem;
    margin-top: 40px;
}

h1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 10px;
}

p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 1px;
}